.freelancerProjectCard{
    height: 40vh;
    margin:0.5rem 5vw;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 20%);
    text-align: justify;
}

.freelancerProjectCard_Carousel>img{
    width: 20rem;
    max-height: 38vh;
}

.freelancerProjectCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.freelancerProjectCard>div{
    margin: 1em;
}

.freelancerProjectCard_Carousel{
    display: flex;
    justify-content: center;
    align-content: center;
    flex:0.3
}

.freelancerProjectCard_data{
    align-self: stretch;
    flex:0.7;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.freelancerProjectCard_data>p{
    padding-right: 4px;
    margin-bottom: 1em;
}

.freelancerProjectCard_discription{
    overflow: scroll;
}

.freelancerProjectCard_heading span{
    font-size: small;
    font-weight: 500;
    
}

.freelancerProjectCard_heading strong{
    font-size:larger;
}

  /* width */
.freelancerProjectCard_discription:hover::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.freelancerProjectCard_discription::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
.freelancerProjectCard_discription::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    background: rgb(151, 135, 135); 
  }


@media screen and (max-width:1100px){
    .freelancerProjectCard_Carousel>img{
        width: 15em;
    }
} 

@media screen and (max-width:900px){
    .freelancerProjectCard{
        margin: 1rem 5vw;
    }
} 

@media screen and (max-width:650px){
    .freelancerProjectCard{
        height:70vh;
        flex-direction: column;
        /* overflow: visible; */
    }   
    .freelancerProjectCard_data{
        overflow: scroll;
    } 
}