.home{
    box-sizing: border-box;
    height: 100vh;
    width:100vw; 
    background-repeat:"no-repeat";
    background-size:100% 100%;
    position: relative;
}

.overlay{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    background-color: #01011a;
    /* background-color: #010f1a; */
    opacity: 0.5;
}

.main{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    color: white;
}
.head{
    font-family: 'Montserrat', sans-serif;
    font-size: 10vh;
    letter-spacing: 10px;
    font-weight: 900;
}
.head-desc{
    font-size: 8vh;
    letter-spacing: 5px;
}

.home-buttons{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    width: 47vw;
}
.home-btn{
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 50px;
    font-size: 4vh;
    box-sizing: border-box;
    padding: 1vh 1.5vw 1.5vh 1.5vw; 
    cursor: pointer;
    color: white;
    border: 2px solid thistle;
    letter-spacing: 3px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    animation-duration:5s;
    font-weight: 500;
    transition:  0.2s;
    margin-bottom: 3vh;
    min-width: 170px;
}

.home-btn:hover, .home-login-btn:hover{
    background-color: thistle;
    color: black;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    2% { transform: translate(-1px, -2px) rotate(-1deg); }
    4% { transform: translate(-3px, 0px) rotate(1deg); }
    6% { transform: translate(3px, 2px) rotate(0deg); }
    8% { transform: translate(1px, -1px) rotate(1deg); }
    10% { transform: translate(-1px, 2px) rotate(-1deg); }
    12% { transform: translate(-3px, 1px) rotate(0deg); }
    14% { transform: translate(3px, 1px) rotate(-1deg); }
    16% { transform: translate(-1px, -1px) rotate(1deg); }
    18% { transform: translate(1px, 2px) rotate(0deg); }
    20% { transform: translate(1px, -2px) rotate(-1deg); }
    22% { transform: translate(1px, 1px) rotate(0deg); }
}

.home-login-btn{
    box-sizing: border-box;
    position: absolute;
    top:2.5vh;
    right:5vw;
    font-size: 3vh;
    letter-spacing: 2px;
    border-radius: 6px;
    border: 2px solid thistle;
    padding: 1vh 1vw;
    cursor: pointer;
    font-weight: 500;
}

@media screen and (max-width:783px){
    .home{
        background-size: 200% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .head{
        font-size: 5vh;
        letter-spacing: 5px;
    }
    .head-desc{
        font-size: 4vh;
        letter-spacing: 2.5px;
        text-align: center;
    }
    .home-btn{
        font-size: 3vh;
    }
}